<div class="taskBlock__bg">
</div>

<div class="taskBlock">
    <div class="taskBlock_header">
        <span class="header2">Редактирование карточки</span>
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg" class="taskBlock__close">
            <path class="taskBlock__close" d="M0.90815 0.364066C1.25962 0.0125948 1.82947 0.0125948 2.18094 0.364067L7.27211 5.45524L12.3633 0.364066C12.7148 0.0125948 13.2846 0.0125948 13.6361 0.364066C13.9875 0.715538 13.9875 1.28539 13.6361 1.63686L8.5449 6.72803L13.6361 11.8192C13.9875 12.1707 13.9875 12.7405 13.6361 13.092C13.2846 13.4435 12.7148 13.4435 12.3633 13.092L7.27211 8.00082L2.18094 13.092C1.82947 13.4435 1.25962 13.4435 0.90815 13.092C0.556679 12.7405 0.556678 12.1707 0.90815 11.8192L5.99932 6.72803L0.90815 1.63686C0.556678 1.28539 0.556679 0.715538 0.90815 0.364066Z" fill="#2D2D2D"/>
        </svg>
    </div>
    <div class="taskBlock__separator"></div>

    <div class="taskBlock__container">
        <div class="taskBlock__icon">
            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.0035 0.134766C15.7519 0.153232 16.6416 0.341643 17.5642 0.835041C18.4473 1.30733 19.1457 2.00574 19.618 2.88885C20.1114 3.81142 20.2998 4.70118 20.3183 6.44955V13.4598C20.2998 15.2082 20.1114 16.0979 19.618 17.0205C19.1457 17.9036 18.4473 18.602 17.5642 19.0743C16.6416 19.5677 15.7519 19.7561 14.0035 19.7746H6.99326C5.24488 19.7561 4.35513 19.5677 3.43255 19.0743C2.54944 18.602 1.85103 17.9036 1.37874 17.0205C0.885344 16.0979 0.696933 15.2082 0.678467 13.4598V6.44955C0.696933 4.70118 0.885344 3.81142 1.37874 2.88885C1.85103 2.00574 2.54944 1.30733 3.43255 0.835041C4.35513 0.341643 5.24488 0.153232 6.99326 0.134766H14.0035ZM13.704 1.91895H7.29275L6.79509 1.92331C5.4743 1.94835 4.8829 2.08443 4.27469 2.40971C3.70278 2.71557 3.25927 3.15908 2.95341 3.73099C2.62813 4.3392 2.49205 4.9306 2.46701 6.25139L2.46265 6.74905V13.1603L2.46701 13.6579C2.49205 14.9787 2.62813 15.5701 2.95341 16.1783C3.25927 16.7503 3.70278 17.1938 4.27469 17.4996C4.8829 17.8249 5.4743 17.961 6.79509 17.986L7.29275 17.9904H13.704L14.2016 17.986C15.5224 17.961 16.1138 17.8249 16.722 17.4996C17.294 17.1938 17.7375 16.7503 18.0433 16.1783C18.3686 15.5701 18.5047 14.9787 18.5297 13.6579L18.5341 13.1603V6.74905L18.5297 6.25139C18.5047 4.9306 18.3686 4.3392 18.0433 3.73099C17.7375 3.15908 17.294 2.71557 16.722 2.40971C16.1138 2.08443 15.5224 1.94835 14.2016 1.92331L13.704 1.91895ZM13.7525 7.00341C14.1012 6.65473 14.6665 6.65473 15.0152 7.00341C15.3638 7.3521 15.3638 7.91742 15.0152 8.2661L10.0152 13.2661C9.66649 13.6148 9.10116 13.6148 8.75248 13.2661L6.43105 10.9447C6.08237 10.596 6.08237 10.0307 6.43105 9.68198C6.77973 9.3333 7.34506 9.3333 7.69374 9.68199L9.38382 11.3721L13.7525 7.00341Z" fill="#4277FA"/>
            </svg>
        </div>
        <div class="taskBlock__content">
            <p class="taskBlock__hidden"></p>
            <textarea data-autosize="true" data-id="1" class="taskBlock__title-input header2">{{ title }}</textarea>
            <p class="taskBlock__content-text">в доске <ins>{{ deskTitle }}</ins></p>
            <div class="taskBlock__content-dop">
                <div class="taskBlock__content-dop-date">
                    <p class="taskBlock__text">Участники:</p>
                    <div class="taskBlock__content-dop-users-avatars">
                        {{#each append_users}}
                            <div class="taskBlock__img-block" data-id="{{ idu }}">
                                <div class="taskBlock__img-popover">{{ username }}</div>
                                <img alt="{{ username }} avatar" src="../{{ img_avatar }}" data-id="{{ idu }}" class="taskBlock__img">
                                <div data-id="{{ idu }}" class="taskBlock__img-block-delete">
                                    <svg data-id="{{ idu }}" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle data-id="{{ idu }}" cx="20" cy="20" r="20" fill="#2D2D2D" fill-opacity="0.4"/>
                                        <path data-id="{{ idu }}" d="M15.1969 14.7406C15.4897 14.4478 15.9646 14.4478 16.2575 14.7406L20.5002 18.9833L24.7428 14.7406C25.0357 14.4478 25.5106 14.4478 25.8035 14.7406C26.0964 15.0335 26.0964 15.5084 25.8035 15.8013L21.5608 20.0439L25.8035 24.2866C26.0964 24.5795 26.0964 25.0544 25.8035 25.3472C25.5106 25.6401 25.0357 25.6401 24.7428 25.3472L20.5002 21.1046L16.2575 25.3472C15.9646 25.6401 15.4897 25.6401 15.1969 25.3472C14.904 25.0544 14.904 24.5795 15.1969 24.2866L19.4395 20.0439L15.1969 15.8013C14.904 15.5084 14.904 15.0335 15.1969 14.7406Z" fill="#F8FAFD"/>
                                    </svg>
                                </div>
                            </div>
                        {{/each}}

                        <div class="taskBlock__img-block taskBlock__add-user">
                            <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="20" cy="20.4561" r="20" fill="#DFE8EF"/>
                                <path d="M20.5 13C20.9142 13 21.25 13.3358 21.25 13.75V19.75H27.25C27.6642 19.75 28 20.0858 28 20.5C28 20.9142 27.6642 21.25 27.25 21.25H21.25V27.25C21.25 27.6642 20.9142 28 20.5 28C20.0858 28 19.75 27.6642 19.75 27.25V21.25H13.75C13.3358 21.25 13 20.9142 13 20.5C13 20.0858 13.3358 19.75 13.75 19.75H19.75V13.75C19.75 13.3358 20.0858 13 20.5 13Z" fill="#7F7F7F"/>
                            </svg>

                            <div class="taskBlock__add-user-block">
                                {{#each addUsers}}
                                    <div class="taskBlock__user" data-id="{{ idu }}">
                                        <div>
                                            <img alt="{{ username }} avatar" data-id="{{ idu }}" src="../{{ img_avatar }}" class="taskBlock__user-img">
                                        </div>
                                        <span class="taskBlock__user-text" data-id="{{ idu }}">{{ username }}</span>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="taskBlock__content-dop-date">
                    <p class="taskBlock__text">Cрок выполнения:</p>
                    <input class="taskBlock__date" type="datetime-local" id="start" name="trip-start"
                        value="{{ deadline }}"
                        min="2022-01-01">
                </div>
                <div class="taskBlock__content-dop-date">
                    <p class="taskBlock__text">Ссылка для присоединения:</p>
                    <div class="createModal__settings_link">
                        <input class="createModal__settings_input createModal__settings_input_link_task" data-name="{{name}}" {{#if len}}maxlength="150"{{else}}maxlength="30"{{/if}} value="{{link}}" type="text">
                        <svg class="createModal__settings_link_icon_task" width="25" height="25" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.59 16.83C12.2 17.22 11.56 17.22 11.17 16.83C9.22 14.88 9.22 11.71 11.17 9.76L16.41 4.52C18.36 2.57 21.53 2.57 23.48 4.52C25.43 6.47 25.43 9.64 23.48 11.59L22.0441 13.0259C21.6545 13.4155 21.023 13.416 20.6328 13.0271C20.2426 12.6383 20.2414 12.0069 20.63 11.6166L22.06 10.18C23.24 9.01 23.24 7.11 22.06 5.94C20.89 4.76 18.99 4.76 17.82 5.94L12.59 11.17C11.41 12.34 11.41 14.24 12.59 15.41C13 15.8 13 16.44 12.59 16.83ZM15.41 11.17C15.8 10.78 16.44 10.78 16.83 11.17C18.78 13.12 18.78 16.29 16.83 18.24L11.59 23.48C9.64 25.43 6.47 25.43 4.52 23.48C2.57 21.53 2.57 18.36 4.52 16.41L5.95147 14.9785C6.34158 14.5876 6.97475 14.5876 7.36527 14.9781C7.36541 14.9782 7.36555 14.9784 7.36527 14.9789L7.36606 14.9797C7.75578 15.3707 7.7556 16.0036 7.36564 16.3943L5.94 17.82C4.76 18.99 4.76 20.89 5.94 22.06C7.11 23.24 9.01 23.24 10.18 22.06L15.41 16.83C16.59 15.66 16.59 13.76 15.41 12.59C15 12.2 15 11.56 15.41 11.17Z" fill="#2688EB"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="taskBlock__container">
        <div class="taskBlock__icon">
            <svg width="21" height="14" style="margin-top: 3px;" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.0178223 6.95619C0.0178223 7.69727 0.616037 8.29548 1.35711 8.29548C2.09818 8.29548 2.69639 7.69727 2.69639 6.95619C2.69639 6.21512 2.09818 5.61691 1.35711 5.61691C0.616037 5.61691 0.0178223 6.21512 0.0178223 6.95619ZM0.0178223 1.59905C0.0178223 2.34012 0.616037 2.93834 1.35711 2.93834C2.09818 2.93834 2.69639 2.34012 2.69639 1.59905C2.69639 0.85798 2.09818 0.259766 1.35711 0.259766C0.616037 0.259766 0.0178223 0.85798 0.0178223 1.59905ZM0.0178223 12.3133C0.0178223 13.0484 0.622011 13.6526 1.35711 13.6526C2.0922 13.6526 2.69639 13.0484 2.69639 12.3133C2.69639 11.5782 2.10227 10.9741 1.35711 10.9741C0.611942 10.9741 0.0178223 11.5782 0.0178223 12.3133ZM18.3214 12.3133C18.3214 11.8202 17.9216 11.4205 17.4285 11.4205H4.92854C4.43543 11.4205 4.03568 11.8202 4.03568 12.3133C4.03568 12.8064 4.43543 13.2062 4.92854 13.2062H17.4285C17.9216 13.2062 18.3214 12.8064 18.3214 12.3133ZM18.3214 6.95619C18.3214 6.46308 17.9216 6.06334 17.4285 6.06334H4.92854C4.43543 6.06334 4.03568 6.46308 4.03568 6.95619C4.03568 7.44931 4.43543 7.84905 4.92854 7.84905H17.4285C17.9216 7.84905 18.3214 7.44931 18.3214 6.95619ZM4.92854 2.49191H17.4285C17.9216 2.49191 18.3214 2.09216 18.3214 1.59905C18.3214 1.10594 17.9216 0.706194 17.4285 0.706194H4.92854C4.43543 0.706194 4.03568 1.10594 4.03568 1.59905C4.03568 2.09216 4.43543 2.49191 4.92854 2.49191Z" fill="#4277FA"/>
            </svg>
        </div>
        <div class="taskBlock__content">
            <p class="taskBlock__text">Описание</p>
            <textarea class="taskBlock__textarea createModal__settings_textarea" maxlength="150" data-name="description" placeholder="Описание таски">{{ description }}</textarea>
        </div>
    </div>

    <div class="taskBlock__container">
        <div class="taskBlock__icon">
            <svg width="21" height="17" style="margin-top: 1.5px;" viewBox="0 0 21 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.84 9.10526C22.1647 9.42432 22.1938 9.93054 21.9245 10.2831L15.7236 16.6179C15.4012 16.9459 14.8886 16.9718 14.5362 16.695L10.7576 12.8805C10.411 12.5297 10.4145 11.9644 10.7652 11.6178C11.089 11.2979 11.5956 11.2762 11.9442 11.5507L15.0847 14.7197L20.5774 9.11619C20.923 8.7645 21.4883 8.75961 21.84 9.10526ZM6.92847 11.5278C7.42158 11.5278 7.82132 11.9275 7.82132 12.4206C7.82132 12.9137 7.42158 13.3135 6.92847 13.3135H1.57132C1.07821 13.3135 0.678467 12.9137 0.678467 12.4206C0.678467 11.9275 1.07821 11.5278 1.57132 11.5278H6.92847ZM17.6428 6.17062C18.1359 6.17062 18.5356 6.57037 18.5356 7.06348C18.5356 7.55659 18.1359 7.95633 17.6428 7.95633H1.57132C1.07821 7.95633 0.678467 7.55659 0.678467 7.06348C0.678467 6.57037 1.07821 6.17062 1.57132 6.17062H17.6428ZM17.6428 0.813477C18.1359 0.813477 18.5356 1.21322 18.5356 1.70633C18.5356 2.19945 18.1359 2.59919 17.6428 2.59919H1.57132C1.07821 2.59919 0.678467 2.19945 0.678467 1.70633C0.678467 1.21322 1.07821 0.813477 1.57132 0.813477H17.6428Z" fill="#4277FA"/>
            </svg>
        </div>
        <div class="taskBlock__content">
            <p class="taskBlock__text">Чек-листы</p>

            {{#each checkList }}
                <div class="taskBlock__checklist">
                    <div class="taskBlock__checklist-item">
                        <input data-id="{{ id_cl }}" class="taskBlock__checklist-title" type="text" value="{{ title }}">
                        <svg data-id="{{ id_cl }}" class="taskBlock__checklist-icon taskBlock__checklist-delete" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path data-id="{{ id_cl }}" d="M0.656854 1.07068C0.969274 0.758265 1.47581 0.758265 1.78823 1.07068L6.31371 5.59617L10.8392 1.07068C11.1516 0.758265 11.6581 0.758265 11.9706 1.07068C12.283 1.3831 12.283 1.88964 11.9706 2.20206L7.44508 6.72754L11.9706 11.253C12.283 11.5654 12.283 12.072 11.9706 12.3844C11.6581 12.6968 11.1516 12.6968 10.8392 12.3844L6.31371 7.85891L1.78823 12.3844C1.47581 12.6968 0.969274 12.6968 0.656854 12.3844C0.344435 12.072 0.344435 11.5654 0.656854 11.253L5.18234 6.72754L0.656854 2.20206C0.344435 1.88964 0.344435 1.3831 0.656854 1.07068Z" fill="#2D2D2D"/>
                        </svg>
                    </div>

                    {{#each CheckListItems }}
                        <div class="taskBlock__checklist-item">
                            <input data-id="{{ id_clit }}" class="taskBlock__item-check" type="checkbox" id="scales" name="scales" {{#if isready}}checked{{/if}}>
                            <input data-id="{{ id_clit }}" class="taskBlock__checklist-item-text" type="text" value="{{ title }}">
                            <svg data-id="{{ id_clit }}" class="taskBlock__checklist-icon taskBlock__item-delete" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path data-id="{{ id_clit }}" d="M0.656854 1.07068C0.969274 0.758265 1.47581 0.758265 1.78823 1.07068L6.31371 5.59617L10.8392 1.07068C11.1516 0.758265 11.6581 0.758265 11.9706 1.07068C12.283 1.3831 12.283 1.88964 11.9706 2.20206L7.44508 6.72754L11.9706 11.253C12.283 11.5654 12.283 12.072 11.9706 12.3844C11.6581 12.6968 11.1516 12.6968 10.8392 12.3844L6.31371 7.85891L1.78823 12.3844C1.47581 12.6968 0.969274 12.6968 0.656854 12.3844C0.344435 12.072 0.344435 11.5654 0.656854 11.253L5.18234 6.72754L0.656854 2.20206C0.344435 1.88964 0.344435 1.3831 0.656854 1.07068Z" fill="#2D2D2D"/>
                            </svg>
                        </div>
                    {{/each}}
                    <div data-id="{{ id_cl }}" class="taskBlock__button-active">Добавить элемент</div>
                </div>
            {{/each}}

            <div class="taskBlock__button taskBlock__button-addCheck">Добавить чек-лист</div>
        </div>
    </div>
    <div class="taskBlock__container">
        <div class="taskBlock__icon">
            <svg width="21" height="23" viewBox="0 0 21 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.1886 8.89689C10.5791 8.50637 11.2123 8.50637 11.6028 8.89689C11.9933 9.28742 11.9933 9.92058 11.6028 10.3111L7.43087 14.483C6.86389 15.05 6.83098 16.0045 7.43087 16.6044C8.03076 17.2042 8.98521 17.1713 9.55219 16.6044L17.3304 8.82618C18.932 7.22456 18.8444 4.68333 17.3304 3.16933C15.8164 1.65533 13.2751 1.5677 11.6735 3.16933L3.89533 10.9475C1.3446 13.4982 1.39217 17.6367 3.89533 20.1399C6.39849 22.6431 10.537 22.6906 13.0877 20.1399L17.2597 15.968C17.6502 15.5774 18.2833 15.5774 18.6739 15.968C19.0644 16.3585 19.0644 16.9917 18.6739 17.3822L14.5019 21.5541C11.1628 24.8933 5.75815 24.8311 2.48112 21.5541C-0.795906 18.2771 -0.858028 12.8724 2.48112 9.53329L10.2593 1.75512C12.6646 -0.650197 16.4705 -0.51896 18.7446 1.75512C21.0187 4.02919 21.1499 7.83508 18.7446 10.2404L10.9664 18.0186C9.63934 19.3456 7.42023 19.4221 6.01665 18.0186C4.61308 16.615 4.6896 14.3959 6.01665 13.0688L10.1886 8.89689Z" fill="#2688EB"/>
            </svg>
        </div>
        <div class="taskBlock__content">
            <p class="taskBlock__text">Вложения</p>

            {{#each attachments }}
                <div class="taskBlock__attachment">
                    <div class="taskBlock__attachment-item">
                        <svg class="taskBlock__attachment-item-icon" width="18" height="18" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.2053 2.12204C15.6105 2.21543 15.9766 2.36706 16.3292 2.58754C16.6851 2.81012 16.9581 3.04393 17.5215 3.60727L22.3927 8.47851C22.9561 9.04186 23.1899 9.31494 23.4125 9.67084C23.6329 10.0234 23.7846 10.3895 23.878 10.7947C23.9722 11.2037 24 11.5621 24 12.3588V19.2313C24 21.2111 23.8145 22.1714 23.2808 23.1695C22.7954 24.0771 22.0771 24.7954 21.1695 25.2808C20.1714 25.8145 19.2111 26 17.2313 26H10.7687C8.78894 26 7.82858 25.8145 6.8305 25.2808C5.9229 24.7954 5.20463 24.0771 4.71924 23.1695C4.18545 22.1714 4 21.2111 4 19.2313V8.06595C4 6.78109 4.2317 5.74212 4.71924 4.8305C5.20463 3.9229 5.9229 3.20463 6.8305 2.71924C7.74212 2.2317 8.78109 2 10.066 2H13.6412C14.4379 2 14.7963 2.02777 15.2053 2.12204ZM13.8261 4.00054L10.066 4C9.09428 4 8.37782 4.15978 7.7737 4.48286C7.21463 4.78185 6.78185 5.21463 6.48286 5.7737C6.15978 6.37782 6 7.09428 6 8.06595V19.2313C6 20.9091 6.12522 21.5576 6.48286 22.2263C6.78185 22.7854 7.21463 23.2181 7.7737 23.5171C8.44243 23.8748 9.09087 24 10.7687 24H17.2313C18.9091 24 19.5576 23.8748 20.2263 23.5171C20.7854 23.2181 21.2181 22.7854 21.5171 22.2263C21.8748 21.5576 22 20.9091 22 19.2313V12.3588C22 12.2215 21.9992 12.1031 21.9976 11.9996L16.5 12C15.1193 12 14 10.8807 14 9.5L14.0015 4.00245C13.9473 4.00157 13.8891 4.00094 13.8261 4.00054ZM16.1073 5.02149L16 4.915V9.5C16 9.74546 16.1769 9.94961 16.4101 9.99194L16.5 10L21.0873 10.0021C21.0531 9.9675 21.0169 9.93111 20.9785 9.89273L16.1073 5.02149Z" fill="#2688EB"/>
                        </svg>
                        <span>{{ default_name }}</span>

                        <svg data-id="{{ id_a}}" class="taskBlock__attachment-icon taskBlock__attachment-download" width="18" height="18" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21 22C21.5523 22 22 22.4477 22 23C22 23.5523 21.5523 24 21 24H7C6.44772 24 6 23.5523 6 23C6 22.4477 6.44772 22 7 22H21ZM14 2C14.5523 2 15 2.44772 15 3V16.585L20.2929 11.2929C20.6834 10.9024 21.3166 10.9024 21.7071 11.2929C22.0976 11.6834 22.0976 12.3166 21.7071 12.7071L14.7071 19.7071C14.3166 20.0976 13.6834 20.0976 13.2929 19.7071L6.29289 12.7071C5.90237 12.3166 5.90237 11.6834 6.29289 11.2929C6.68342 10.9024 7.31658 10.9024 7.70711 11.2929L13 16.585V3C13 2.44772 13.4477 2 14 2Z" fill="#2D2D2D"/>
                        </svg>
                        <svg data-id="{{ id_a }}" class="taskBlock__attachment-icon taskBlock__attachment-delete" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path data-id="{{ id_a }}" d="M0.656854 1.07068C0.969274 0.758265 1.47581 0.758265 1.78823 1.07068L6.31371 5.59617L10.8392 1.07068C11.1516 0.758265 11.6581 0.758265 11.9706 1.07068C12.283 1.3831 12.283 1.88964 11.9706 2.20206L7.44508 6.72754L11.9706 11.253C12.283 11.5654 12.283 12.072 11.9706 12.3844C11.6581 12.6968 11.1516 12.6968 10.8392 12.3844L6.31371 7.85891L1.78823 12.3844C1.47581 12.6968 0.969274 12.6968 0.656854 12.3844C0.344435 12.072 0.344435 11.5654 0.656854 11.253L5.18234 6.72754L0.656854 2.20206C0.344435 1.88964 0.344435 1.3831 0.656854 1.07068Z" fill="#2D2D2D"/>
                        </svg>
                    </div>
                </div>
            {{/each}}

            <div class="taskBlock__attachmentButton">
                <input class="taskBlock__attachmentButton-input" type="file" id="attachmentUpload">
                <label class="taskBlock__attachmentButton-upload" for="attachmentUpload">Добавить вложение</label>
            </div>
        </div>
    </div>
    <div class="taskBlock__container">
        <div class="taskBlock__icon">
            <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.99497 1.13657L14.073 1.13683L14.0755 2.92306L7.03761 2.92183C5.54553 2.9348 4.92039 3.06711 4.2764 3.41151C3.70449 3.71738 3.26098 4.16088 2.95512 4.7328C2.59158 5.41256 2.46436 6.07133 2.46436 7.75086V14.1621C2.46436 15.8416 2.59158 16.5004 2.95512 17.1801C3.26098 17.7521 3.70449 18.1956 4.2764 18.5014C4.88461 18.8267 5.47601 18.9628 6.7968 18.9878L7.29446 18.9922H13.7057L14.2034 18.9878C15.5241 18.9628 16.1155 18.8267 16.7238 18.5014C17.2957 18.1956 17.7392 17.7521 18.045 17.1801C18.3703 16.5719 18.5064 15.9805 18.5314 14.6597L18.5358 14.1621L18.532 7.38504L20.3192 7.38398L20.3215 14.1621C20.3215 16.1112 20.1405 17.0485 19.6197 18.0223C19.1474 18.9054 18.449 19.6038 17.5659 20.0761C16.5921 20.5969 15.6548 20.7779 13.7057 20.7779H7.29446C5.34535 20.7779 4.40809 20.5969 3.43426 20.0761C2.55115 19.6038 1.85274 18.9054 1.38045 18.0223C0.887053 17.0997 0.698642 16.21 0.680176 14.4616V7.45136C0.698642 5.70299 0.887053 4.81323 1.38045 3.89066C1.85274 3.00755 2.55115 2.30914 3.43426 1.83685C4.35684 1.34345 5.24659 1.15504 6.99497 1.13657ZM18.6949 2.76167C19.0784 3.14522 19.0784 3.76708 18.6949 4.15063L10.7569 12.0886C10.1617 12.6838 9.45442 13.155 8.67591 13.4751L8.28811 13.6346C8.10568 13.7096 7.89699 13.6225 7.82199 13.4401C7.78622 13.3531 7.78622 13.2554 7.82199 13.1684L7.98143 12.7806C8.30151 12.0021 8.77278 11.2948 9.36798 10.6996L17.3059 2.76167C17.6895 2.37812 18.3113 2.37812 18.6949 2.76167ZM19.4286 6.49219C19.8865 6.49219 20.2639 6.83687 20.3155 7.28092L20.3215 7.38504H18.5358C18.5358 6.89193 18.9355 6.49219 19.4286 6.49219ZM14.0715 1.13504C14.5646 1.13504 14.9644 1.53479 14.9644 2.0279C14.9644 2.48579 14.6197 2.86318 14.1756 2.91475L14.0715 2.92076V1.13504ZM20.1429 0.242188C20.7347 0.242188 21.2144 0.721882 21.2144 1.31362C21.2144 1.90535 20.7347 2.38504 20.1429 2.38504C19.5512 2.38504 19.0715 1.90535 19.0715 1.31362C19.0715 0.721882 19.5512 0.242188 20.1429 0.242188Z" fill="#4277FA"/>
            </svg>
        </div>
        <div class="taskBlock__content">
            <p class="taskBlock__text">Комментарии</p>
        </div>
    </div>

    <div class="taskBlock__comment">
        <div class="taskBlock__comment-avatar">
            <img class="taskBlock__comment-img" src="../{{ thisUser.img }}">
        </div>
        <textarea class="taskBlock__comment-textarea createModal__settings_textarea" placeholder="Ваш комментарий"></textarea>
    </div>
    {{#each comment }}
        <div class="taskBlock__comment">
            <div class="taskBlock__comment-avatar">
                <img class="taskBlock__comment-img" src="../{{ user.img_avatar }}">
            </div>
            <div class="taskBlock__comment-body">
                <p data-hidden="{{ idcm }}" class="taskBlock__comment-textarea-add-hidden"></p>
                <textarea data-id="{{ idcm }}" class="taskBlock__comment-textarea-add" {{#unless isYou }}disabled{{/unless}}>{{ title }}</textarea>
                <p class="taskBlock__comment-text">
                    <span>{{ date }}</span>
                    {{#if isYou}}
                        <span data-id="{{ idcm }}" class="taskBlock__comment-text-delete">Удалить</span>
                    {{/if}}
                </p>
            </div>
        </div>
    {{/each}}
</div>