<div class="createModal__bg">
    <div class="createModal">
        <div class="createModal_header">
            <span class="header2">{{title}}</span>
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg" class="createModal__close">
                <path d="M0.90815 0.364066C1.25962 0.0125948 1.82947 0.0125948 2.18094 0.364067L7.27211 5.45524L12.3633 0.364066C12.7148 0.0125948 13.2846 0.0125948 13.6361 0.364066C13.9875 0.715538 13.9875 1.28539 13.6361 1.63686L8.5449 6.72803L13.6361 11.8192C13.9875 12.1707 13.9875 12.7405 13.6361 13.092C13.2846 13.4435 12.7148 13.4435 12.3633 13.092L7.27211 8.00082L2.18094 13.092C1.82947 13.4435 1.25962 13.4435 0.90815 13.092C0.556679 12.7405 0.556678 12.1707 0.90815 11.8192L5.99932 6.72803L0.90815 1.63686C0.556678 1.28539 0.556679 0.715538 0.90815 0.364066Z" fill="#2D2D2D"/>
            </svg>
        </div>
        <div class="createModal__separator"></div>
        <form method="post" id="boardModal" data-id="{{id}}" data-type="{{type}}">
            <div class="createModal__settings">
                {{# each inputs}}
                    <div class="createModal__settings_title">
                        {{ title }}
                    </div>
                    {{#if isInvite}}
                        <div class="createModal__settings_link">
                            <input class="createModal__settings_input createModal__settings_input_link" data-name="{{name}}" {{#if len}}maxlength="150"{{else}}maxlength="30"{{/if}} placeholder="{{placeholder}}" value="{{value}}" type="text">
                            <svg class="createModal__settings_link_icon" width="25" height="25" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.59 16.83C12.2 17.22 11.56 17.22 11.17 16.83C9.22 14.88 9.22 11.71 11.17 9.76L16.41 4.52C18.36 2.57 21.53 2.57 23.48 4.52C25.43 6.47 25.43 9.64 23.48 11.59L22.0441 13.0259C21.6545 13.4155 21.023 13.416 20.6328 13.0271C20.2426 12.6383 20.2414 12.0069 20.63 11.6166L22.06 10.18C23.24 9.01 23.24 7.11 22.06 5.94C20.89 4.76 18.99 4.76 17.82 5.94L12.59 11.17C11.41 12.34 11.41 14.24 12.59 15.41C13 15.8 13 16.44 12.59 16.83ZM15.41 11.17C15.8 10.78 16.44 10.78 16.83 11.17C18.78 13.12 18.78 16.29 16.83 18.24L11.59 23.48C9.64 25.43 6.47 25.43 4.52 23.48C2.57 21.53 2.57 18.36 4.52 16.41L5.95147 14.9785C6.34158 14.5876 6.97475 14.5876 7.36527 14.9781C7.36541 14.9782 7.36555 14.9784 7.36527 14.9789L7.36606 14.9797C7.75578 15.3707 7.7556 16.0036 7.36564 16.3943L5.94 17.82C4.76 18.99 4.76 20.89 5.94 22.06C7.11 23.24 9.01 23.24 10.18 22.06L15.41 16.83C16.59 15.66 16.59 13.76 15.41 12.59C15 12.2 15 11.56 15.41 11.17Z" fill="#2688EB"/>
                            </svg>
                        </div>
                    {{else}}
                        {{#if isTypeInput}}
                            <input class="createModal__settings_input" data-name="{{name}}" {{#if len}}maxlength="150"{{else}}maxlength="30"{{/if}} placeholder="{{placeholder}}" value="{{value}}" type="text">
                        {{else}}
                            <textarea class="createModal__settings_textarea" maxlength="150" data-name="{{name}}" placeholder="{{placeholder}}">{{value}}</textarea>
                        {{/if}}
                    {{/if}}
                {{/each}}
            </div>
            <div class="createModal__buttons">
                {{#if isDelete}}
                    <button type="submit" class="createModal__settings_save desk__delete">
                        Удалить
                    </button>
                {{/if}}
                {{#if isSave}}
                    <button type="submit" class="createModal__settings_save">
                        Сохранить
                    </button>
                {{/if}}
                {{#if isInvite}}
                    <button type="submit" class="createModal__settings_save">
                        Пригласить
                    </button>
                {{/if}}

                <div class="createModal__settings_cancel">
                    Отменить
                </div>
            </div>
        </form>
    </div>
</div>