<div class="main__content">
    {{#each boards}}
        <a class="desk" href="board/{{idb}}" data-id="{{idb}}">
            <div class="desk__title header2">{{title}}</div>
            <div class="desk__description">
                {{description}}
            </div>
            <div class="desk__date">
                {{date}}
            </div>
        </a>
    {{/each}}
</div>